h1 CauseMap

h2 Most Positive
ol
  li
    a(href="/s/1234") Best situation on earth
  li
    a(href="/s/12345") Second best situation on earth
  li
    a(href="/s/1342") Third best situation earth


h2 Most Negative
ol
  li
    a(href="/s/1234") Worst situation on earth
  li
    a(href="/s/12345") Second worst situation on earth
  li
    a(href="/s/1342") Third worst situation earth
